%h2 Contact Info:
%h3 Samuel Wecker
%p
  I'm Sam.  I made this game.  If you have
  questions, feedback, bugs or anything please
  let me know.
  Email:
  %a(href="mailto:wecker.samuel@gmail.com") wecker.samuel@gmail.com
  %br
  Phone: 808 344 5396

%h3 Jacob Wecker
%p 
  I don't know if he wants his info on here,
  but he draws the tiles and maps, so you can contact him
  if you need to as well.
  Email:
  %a(href="mailto:jacobwecker@gmail.com") jacobwecker@gmail.com
  %br
  Phone: 808 264 3901
