%h2 The Controls:
%p Key+Key means those keys pressed simultaneously
%p Key, Key means those keys pressed successively
%h3 Directions
%ul 
  %li W: North
  %li A: West
  %li S: South
  %li D: East
  %li W+A: Northwest
  %li W+D: Northeast
  %li S+A: Southwest
  %li S+D: Southeast
  %li Space: Your current location

%h3 Commands
%ul 
  %li DirectionKey: Walk in direction
  %li Walking into a zombie is a melee attack
  %li j, DirectionKey: Shoot in  direction
  %li k, DirectionKey: Close structure in direction
  %li l, DirectionKey: Open structure in direction
  %li i, DirectionKey: Repair structure in direction
  %li p, DirectionKey: Dress wounds in direction
