%h2 Welcome
%p
  The Zombie Hour is (or ... aehmm... will be) a strategic, multiplayer,
  zombie killing, role-playing game.
%p
  The Game will be divided into Scenarios which might last up to an hour.
%p
  (When it's ready...): Create a character, join a scenario, and start
  killing them Zombers

%h2 Progress/Updates
%ul 
  %li Characters die when killed.
  %li Attacking and killing zombies works.
  %li Ranged Attacks work.
  %li Scenario spawn points work.
  %li Player leaderboard is up.
  %li 
    %a(href="/controls") Controls
    page set up.
  %li 
    %a(href="/contact") Contact
    page set up.

%h2 What I need to do before you can play...
%p
  Woohoo!  You can actually play it now, but these are
  some things I'm currently working on/thinking
  about.
%ul 
  %li Opening and closing doors.
  %li Breaking windows and doors.
%p
  If I have a game server currently running you can
  access it 
  %a(href="/game") here
  , and if not, you can
  always call me or something and I could start the
  server up.
