body {
	background-color: #101010;
	font-family: 'ArchitectsDaughterRegular';
	font-size: 12px;
	color: #ccbbaa;
}

body, p, ol, ul, td {
	line-height: 16px;
}

div { 
	background-color: #202020;
	padding: 10px;
	margin:1px;
}

#header {
}

#main { width:600px; }

h1, h1 a {
	color: #bb1010;
	font-size: 40px;
	font-family: 'StamPeteRegular';
	margin:5px;
}

h2 {
	color: #707070;
	font-size: 30px;
	font-family: 'DowncomeRegular';
	font-weight: normal;
	margin:10px;
}

h3 {
	font-size: 20px;
	font-family: 'DowncomeRegular';
	font-weight: normal;
	margin:2px;
}

#board{ font-size:10px; }

a { 
	color: #bb1010;
	font-family: 'DowncomeRegular';
	font-size: 16px;
	text-decoration: none;
}

#board {
	position:absolute;
	width:100px;
	height:380px;
	padding: 20px;
}

#visible_area {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width:432px;
  height:432px;
  background:none;
  left: -16px;
  top: -16px;
}
#map, #shadow {
  margin: 0px;
  padding: 0px;
  position: absolute;
  background:none;
}
#map table, #shadow table { border-collapse: collapse; }

#map td {
	padding: 0px;
	width:16px;
	height:16px;
	background:url(/images/tiles.png);
	opacity: 0;
}

#shadow td {
	padding: 0px;
	width:16px;
	height:16px;
	background-color: #101010;
	opacity: 0;
/*	background:url(/images/shadow2.png); */
}

#character {
  position: absolute;
  left:192px;
  top:192px;
  width:16px;
  height:16px;
  padding:0px;
  background:url(/images/tiles.png) -208px, 0px;
}

#status {
	position: absolute;
	top: 429px;
	width: 862px;
	height: 80px;
	padding: 20px;
}
#flash {
	left: 336px;
}

#chat_input {
  position: absolute;
  background: #202020;
  border: solid 2px #101010;
	color: #ccbbaa;
  padding:4px;
  font-family: 'ArchitectsDaughterRegular';
  width:400px;
  top: 410px;
  left:220px;
  display: none;
}

.combat_msg {
	color: #cd7f4a;
}
.combat_msg .dmg {
	color: #ff2020;
}

#cooldown { display: none; }

#action_bar {
	width:100px;
	height:10px;
	padding: 0px;
	border: solid 1px grey;
	overflow:hidden;
}
#action_bar .filling {
	position:relative;
	width:100px;
	height:10px;
	background-color: blue;
}

#sys_nav {
	position: absolute;
	padding: 0px;
	right: 20px;
	top: 10px;
	font-size: 8px;
}

#sys_nav form {
	display: inline;
}

#sys_nav input {
	font-family: 'ArchitectsDaughterRegular';
	background: #181818;
	color: #ccbbaa;
	border: none;
	width: 100px;
	font-size: 10px;
	height: 18px;
}

#sys_nav [type=password] {
	font-family: 'sans';
}

#sys_nav [type=submit] {
	color: #bb1010;
	cursor: pointer;
	background: none;
	font-family: 'DowncomeRegular';
	font-size: 16px;
	width: auto;
}

/*  Game Page Styles */
#page {
	position:absolute;
	background:#202020;
	width:1000px;
	height:700px;
	padding:16px;
}

.panel_content div, .panel_content {
	background:none;
}

#page div {
	position:absolute;
	padding:0px;
	margin:0px;
}

#stats {
	top:32px;
	left:32px;
	width:186px;
	height:400px;
	max-height:400px;
	background: #101010 url(/images/char_title.png) no-repeat top left;
}
#navigation {
	top:32px;
	left:219px;
	width:400px;
	height:400px;
	background: #101010 url(/images/nav_title.png) no-repeat top left;
	overflow: hidden;
}
#observation {
	top:32px;
	left:620px;
	width:186px;
	height:400px;
	background: #101010 url(/images/obs_title.png) no-repeat top right;
}
#actions {
	top:32px;
	left:807px;
	width:186px;
	height:400px;
	background: #101010 url(/images/act_title.png) no-repeat top right;
}
#dialog {
	top:433px;
	left:32px;
	width:587px;
	height:220px;
	background: #101010 url(/images/dia_title.png) no-repeat bottom right;
}
	#result {
		position: absolute;
		width: 587px;
		height: 220px;
		padding: 20px;
		overflow: auto;
	}

#notes {
	top:433px;
	left:620;
	width:372px;
	height:220px;
	background: #101010 url(/images/note_title.png) no-repeat bottom right;
}
.panel_content {
	padding:0px;
	margin:16px;
	margin-top:65px;
}

.nav_button {
	height:50px;
	width:50px;
	background:url(/images/nav_buttons.png);
	z-index:7;
	opacity:0.2;
}
#north {
	left:175px;
}
#northeast {
	left:350px;
	background-position: -50px 0px;
}
#east {
	top:175px;
	left:350px;
	background-position: -100px 0px;
}
#southeast {
	top:350px;
	left:350px;
	background-position: -150px 0px;
}
#south {
	top:350px;
	left:175px;
	background-position: -200px 0px;
}
#southwest {
	top:350px;
	background-position: -250px 0px;
}
#west {
	top:175px;
	background-position: -300px 0px;
}
#northwest {
	background-position: -350px 0px;
}
