body {
	background-color: #101010;
	font-family: 'ArchitectsDaughterRegular';
	font-size: 12;
	color: #ccbbaa;
}

div { 
	background-color: #202020;
	padding: 10px;
	margin:1px;
}

#header {
}
#sys_nav {
	position: absolute;
	right: 20px;
	top: 10px;
}

h1 {
	color: #bb1010;
	font-size: 60;
	font-family: 'StamPeteRegular';
	margin:5px;
}

h2 {
	color: #707070;
	font-size: 40;
	font-family: 'DowncomeRegular';
	font-weight: normal;
}

h3 {
	font-size: 30;
	font-family: 'DowncomeRegular';
}

a { 
	color: #bb1010;
	font-family: 'DowncomeRegular';
	font-size: 20;
	text-decoration: none;
}

#board {
	float:left;
	width:100px;
	height:380px;
	padding: 20px;
}

#map {
  float: left;
  width:400;
  height: 400px;
}
#map table { border-collapse: collapse; }

#map td {
	padding: 0px;
	width:16px;
	height:16px;
	background:url(/images/tiles.png);
	background-position: -0px  -0px;
}

#result {
	float: left;
	width: 300px;
	height: 380px;
	padding: 20px;
	overflow: auto;
}

#status {
	float: left;
	width: 864px;
	height: 80px;
	padding: 20px;
}
#flash {
	float: right;
}

#chat_input {
  position: absolute;
  background: #202020;
  border: solid 2px #101010;
	color: #ccbbaa;
  padding:4px;
  font-family: 'ArchitectsDaughterRegular';
  width:400px;
  top: 410px;
  left:220px;
  display: none;
}
